<h2>Cat search!</h2>
<div class="search">
  <ul>
    <li *ngFor="let catFilter of catFilters; let i = index">
      <ul class="filter">
        <li> {{catFilter.name}} </li>
        <li>
          <select (change)="filterBy(i, $event.target.value)">
              <option label="All">All</option>
              <option *ngFor="let filterOption of catFilter?.options" label="{{filterOption.name}}">{{filterOption.id}}</option>
          </select>
        </li>
      </ul>
    </li>

    <li>
      <span>Page Number:</span>
      <input type="text" name="pageNumber" #pageNumber>
      <button (click)="goToPage(pageNumber)">GO</button>
    </li>

  </ul>
</div>
<p>Current Page = {{ currentPage }}</p>
<div class="results">
  <ul>
    <li *ngFor="let catImage of catImages">
      <a routerLink="/image/{{ catImage.id }}"><img src="{{catImage.url}}"></a>
    </li>
  </ul>

  <div>
    <ul>
      <li><button (click)="paginator('previous')">PREVIOUS</button></li>
      <li><button (click)="paginator('next')">NEXT</button></li>
    </ul>
  </div>

</div>